
.jumbotron {
    text-align: center;
    background-color:darkgrey;
}

body {
    background-color: lightgrey;
}

input[type="text"] {
    border: 1px solid black;
}

.panel-body {
    background-color:darkgrey;
    
}

.container {
    display: block;
    margin: auto;
}

#captcha-error {
    color:red;
}

#gif {
    display: block;
    margin: auto;
    max-height: 200px;
}


